{% extends 'webapp/base.html' %}

{% load crispy_forms_tags %}

{% block content %}

    <body>

        <div class="card">
           
            <strong>
                {{record.first_name}}
                {{record.last_name|upper}}
            </strong>
            <hr>
            <div class="card-body">
                <p><strong> ID: </strong>{{record.id}} </p> 
                <p><strong> First Name: </strong>{{record.first_name}} </p> 
                <p><strong> Last Name: </strong>{{record.last_name}} </p>
                <p><strong> Country: </strong>{{record.country}} </p> 


            </div>
        </div>
        <br>
        <a href="{% url 'dashboard' %}" class="btn btn-outline-secondary"> Return </a>
        &nbsp;
        <a href="{% url 'update-record' record.id %}" class="btn btn-outline-info"> Update </a>
        &nbsp;
        <a href="{% url 'delete-record' record.id %}" class="btn btn-outline-danger"> Delete </a>

    </body>

{% endblock %}